body{
  display:flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2em;
}


#yellow{
  order: 1;
}

#red{
  order: 2;
}

#green{
  order: 3;
}

#orange{
  order: 4;
  flex-grow: 4;
}

#blue{
  order: 5;
}
